* {
  padding: 0;
  margin: 0;
}

body {
  background-color: lightskyblue;
}

.container {
  margin: 0 auto;
  max-width: 50%;
}

form {
  margin-top: 30px;
}

input[type=text] {
  font-size: 2em;
}

input[type=button] {
  margin: 0 0 0 15px;
}

#todolist div {
  text-align: left;
  font-size: 2em;
  margin: 10px 0px;
}

button {
  font-size: 24px;
  margin: 5px 5px 5px 20px;
  border-radius: 10px;
  padding: 10px 15px;
}